<a ui-sref="home">Home</a> &lt;
<a ui-sref="categories">Categories</a> &lt;

<div>Item name: {{ ctrl.items.name }}</div>
<div>Item quantity: {{ items.name }}</div>
<div>Item description: {{ itemDetail.name }}</div>
<!-- <items list="ctrl.items">
    <li ng-repeat="item in $ctrl.list">{{item.name}}</li>
</items>    -->
<!-- <li ng-repeat="item in $ctrl.list">{{item.name}}</li> -->

<!-- <span> {{ itemDetail.name }} </span>
<div>Item name: {{ itemDetail.name }}</div>
<div>Item quantity: {{ itemDetail.quantity }}</div>
<div>Item description: {{ itemDetail.description }}</div> -->
